/*css reset*/
*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Root color*/
:root {

    /* ### Primary */
    --Very_dark_blue_main_background: hsl(233, 47%, 7%);
    --Dark_desaturated_blue_card_background: hsl(244, 38%, 16%);
    --Soft_violet_accent: hsl(277, 64%, 61%);

    /* ### Neutral */

    --White_main_heading_stats: hsl(0, 0%, 100%);
    --Slightly_transparent_white_main_paragraph: hsla(0, 0%, 100%, 0.75);
    --Slightly_transparent_white_stat_headings: hsla(0, 0%, 100%, 0.6);
}

body {

    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--Very_dark_blue_main_background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hilight {
    font-family: 'Lexend Deca', sans-serif;


}

h1 {
    font-weight: 700;
    font-size: 35px !important;
}

h1 span {
    color: var(--Soft_violet_accent);
}

p { font-size: 15px; line-height: 1.5em;
    color: var(--Slightly_transparent_white_main_paragraph);
}

.man-card {
    max-width: 1100px;
    color: var(--White_main_heading_stats);
    background-color: var(--Dark_desaturated_blue_card_background);
    display: flex; border-radius: 10px;
    min-height: 450px;
    justify-content: space-between;

}

.Stats_card_info {
    width: 50%;
}

.Stats_img {

    width: 50%;
    background-image: url('./images/image-header-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Stats_img::before {
    background-color: var(--Soft_violet_accent);
    content: '';
    opacity: 0.4;
    display: block;
    width: 100%;
    height: 100%;
}

.Stats_card_info {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: space-between;
}
.stats_data{
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
}
.stats{
    font-size: 25px; text-transform: uppercase;
    font-weight: 700;
}
.comp_name{
    text-transform: uppercase; font-size: 13px;
    letter-spacing: 1px;  font-family: 'Lexend Deca', sans-serif;
    color: var(--Slightly_transparent_white_stat_headings);
}

@media (max-width: 768px){

    .man-card {
        flex-direction: column-reverse; 
        margin: 10px;
    }

    .Stats_img{
        height: 200px;
        background-image: url('./images/image-header-mobile.jpg');
         width: 100%;
    }  
    .Stats_card_info{
        width: 100%;
        justify-content: center; gap: 25px;
        text-align: center;
        padding: 15px;
    }
    p {
        font-size: 14px;}
    h1 { 
        font-size: 25px !important;
      }
    .stats_data{
        flex-direction: column; gap: 25px;
    }
}